<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="~{backEndStuff/fragments/header/header::header}">
  <meta charset="UTF-8">
  <title>Categories</title>
</head>
<body>
<nav th:replace="~{backEndStuff/fragments/layout/layout::nav}"></nav>
<section class="mainSection">
  <h1>Categories</h1>
  <a class="btn btn-primary" role="button"
     href="/categories/categoryForm.html" th:href="@{categories/new}"
  >Add Category</a>
  <table class="table">
    <!--/*@thymesVar id="category" type="com.cs177.parkapp.model.Category"*/-->
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tr th:each="category : ${categories}">
      <td>
        <div class="btn-group" role="group" aria-label="edit/delete">
          <a role="button" class="btn btn-secondary" href="./categoryForm.html"
             th:href="@{/categories/update(id=${category.id})}">edit
          </a>
          <a role="button" class="btn btn-secondary" href="#"
             th:href="@{/categories/delete(id=${category.id})}">delete
          </a>
        </div>
      </td>
      <td th:text="${category.name}">Name</td>
      <td th:text="${category.description}">Description</td>
    </tr>
  </table>
</section>
</body>
</html>
