<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Parks</title>
</head>
<body>
<h1>Parks</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Number of Tickets</th>
    <th>Number of Officials</th>
  </tr>
  </thead>
  <tr th:each="park : ${parks}">
    <td th:text="${park.name}">Park Name</td>
    <td th:text="${park.getTickets().size()}">0</td>
    <td th:text="${park.getOfficials().size()}">0</td>
  </tr>
</table>
</body>
</html>