<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
<head th:insert="~{backEndStuff/fragments/header/header::header}">
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
<!--/*@thymesVar id="ticket" type="com.cs177.parkapp.model.Ticket"*/-->
<!--/*@thymesVar id="category" type="com.cs177.parkapp.model.Category"*/-->
<!--/*@thymesVar id="park" type="com.cs177.parkapp.model.Park"*/-->
<nav th:replace="~{backEndStuff/fragments/layout/layout::nav}"></nav>
<header class="jumbotron jumbotron-fluid">
  <h1 class="display-2 text-center" th:text="${ticket.id} == null ? 'New Ticket' : 'Update Ticket'">New Ticket</h1>
</header>
<section class="mainSection">

  <form
      class="ticketForm"
      th:object="${ticket}"
      th:action="*{id} == null ? @{/tickets/new} : @{/tickets/update}"
      method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="row" th:if="*{id}" sec:authorize="hasRole('ROLE_RANGER') or hasRole('ROLE_ADMIN')">
      <div class="col">
        <label for="status">Status</label>
        <select id="status" name="status" class="form-control" th:field="*{status}">
          <option th:each="statusValue : ${T(com.cs177.parkapp.model.Status).values()}"
                  th:value="${statusValue.name()}"
                  th:text="${statusValue.toString()}"
          >Val</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="name"></label>
        <input id="name" type="text" class="form-control" placeholder="Ticket Name" th:field="*{name}">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="category">Categories </label>
        <select class="form-control form-control-sm" id="category" name="category.id" th:field="*{category}">
          <option th:each="category : ${categories}"
                  th:value="${category.id}"
                  th:text="${category.name}"
          >Category</option>
        </select>
      </div>
      <div class="col">
        <label for="park">Park </label>
        <select class="form-control form-control-sm" id="park" name="park.id" th:field="*{park}">
          <option th:each="park : ${parks}"
                  th:value="${park.id}"
                  th:text="${park.name}"
          >Park</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" rows="10" th:field="*{description}"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>

<footer>

</footer>
</body>
</html>
