<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
<head th:insert="~{backEndStuff/fragments/header/header::header}" th:remove="tag">
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="../../../static/backEndStuff/js/ticket-form.js"></script>
</head>

<body>
<!--/*@thymesVar id="ticket" type="com.cs177.parkapp.model.Ticket"*/-->
<!--/*@thymesVar id="category" type="com.cs177.parkapp.model.Category"*/-->
<!--/*@thymesVar id="park" type="com.cs177.parkapp.model.Park"*/-->
<nav th:replace="~{backEndStuff/fragments/layout/layout::nav}"></nav>
<header class="jumbotron jumbotron-fluid">
  <h2 class="display-4 text-center" th:text="${ticket.id} == null ? 'New Ticket' : 'Update Ticket'">New Ticket</h2>
</header>
<section class="mainSection">

  <form
      class="ticketForm"
      th:object="${ticket}"
      th:action="*{id} == null ? @{/tickets/new} : @{/tickets/update}"
      method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="form-row" th:if="*{id}" sec:authorize="hasRole('ROLE_RANGER') or hasRole('ROLE_ADMIN')">
      <div class="col">
        <label for="status">Status</label>
        <select id="status" name="status" class="form-control" th:field="*{status}">
          <option th:each="statusValue : ${T(com.cs177.parkapp.model.Status).values()}"
                  th:value="${statusValue.name()}"
                  th:text="${statusValue.toString()}"
          >Val</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control"  placeholder="Ticket Name"
               th:field="*{name}">
      </div>
    </div>
    <div class="form-row justify-content-lg-start">
      <div class="col-lg-4">
        <label for="category">Categories </label>
        <select class="form-control form-control-sm" id="category" name="category.id" th:field="*{category}">
          <option th:each="category : ${categories}"
                  th:value="${category.id}"
                  th:text="${category.name}"
          >Category</option>
        </select>
      </div>
      <div class="offset-lg-1 col-lg-4">
        <label for="park">Park </label>
        <select class="form-control form-control-sm" id="park" name="park.id" th:field="*{park}">
          <option th:each="park : ${parks}"
                  th:value="${park.id}"
                  th:text="${park.name}"
          >Park</option>
        </select>
      </div>
    </div>
    <div class="form-row justify-content-start">
      <div class="col-4" th:hidden="${ticket.id != null}">
        <button type="button" onclick="getLocation()" >Get GPS Location</button>
      </div>
      <div id="gpsDiv" class="col-4" th:hidden="${ticket.id == null}">
        <div id="latitudeDiv" class="form-row" >
          <label for="latitude" class="col">Latitude</label>
          <input id="latitude" type="text" class="form-control col" th:readonly="readonly"
                 th:field="*{latitude}">
        </div>
        <div id="longitudeDiv" class="form-row" >
          <label for="longitude" class="col">Longitude</label>
          <input id="longitude" type="text" class="form-control col" th:readonly="readonly" th:field="*{longitude}">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="location">Location Description</label>
        <textarea id="location" class="form-control" rows="6" th:field="*{location}"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" rows="6" th:field="*{description}"></textarea>
      </div>
    </div>
    <div class="form-row justify-content-end">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
  </form>
</section>

<footer>

</footer>
<script src="/backEndStuff/js/ticket-form.js" th:src="@{/backEndStuff/js/ticket-form.js}"></script>
</body>
</html>
