<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:include="~{backEndStuff/fragments/header/header::header}">
  <meta charset="UTF-8">
  <title>Registration Form</title>
</head>
<body>
<nav th:replace="~{backEndStuff/fragments/layout/layout::nav}"></nav>
<section class="mainSection container">
  <!--/*@thymesVar id="user" type="com.cs177.parkapp.security.dto.NewUserDto"*/-->
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Registration</h1>
    </div>
    <form th:action="@{/new-user}" th:object="${user}" method="post" id="registration-form" name="registration-form">
      <p class=""
         th:if="${#fields.hasGlobalErrors()}"
         th:each="error: ${#fields.errors('global')}"
         th:text="${error}">Validation error</p>

      <div class="form-group"
           th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
        <label for="firstName" class="control-label">First name</label>
        <input id="firstName"
               class="form-control"
               th:field="*{firstName}"/>
        <p class="error-message"
           th:each="error: ${#fields.errors('firstName')}"
           th:text="${error}">Validation error</p>
      </div>
      <div class="form-group"
           th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
        <label for="lastName" class="control-label">Last name</label>
        <input id="lastName"
               class="form-control"
               th:field="*{lastName}"/>
        <p class="error-message"
           th:each="error : ${#fields.errors('lastName')}"
           th:text="${error}">Validation error</p>
      </div>
      <div class="form-group"
           th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
        <label for="email" class="control-label">E-mail</label>
        <input id="email"
               class="form-control"
               th:field="*{email}"/>
        <p class="error-message"
           th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
      </div>
      <div class="form-group"
           th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
        <label for="confirmEmail" class="control-label">Confirm e-mail</label>
        <input id="confirmEmail"
               class="form-control"
               th:field="*{confirmEmail}"/>
        <p class="error-message"
           th:each="error : ${#fields.errors('confirmEmail')}"
           th:text="${error}">Validation error</p>
      </div>
      <div class="form-group"
           th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
        <label for="password" class="control-label">Password</label>
        <input id="password"
               class="form-control"
               type="password"
               th:field="*{password}"/>
        <p class="error-message"
           th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
      </div>
      <div class="form-group"
           th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
        <label for="confirmPassword" class="control-label">Confirm password</label>
        <input id="confirmPassword"
               class="form-control"
               type="password"
               th:field="*{confirmPassword}"/>
        <p class="error-message"
           th:each="error : ${#fields.errors('confirmPassword')}"
           th:text="${error}">Validation error</p>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Register</button>
        <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
      </div>


    </form>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>-->
<script src="/static/backEndStuff/js/registration-form-validator.js"
        th:src="@{/backEndStuff/js/registration-form-validator.js}"></script>
</body>
</html>