<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="~{backEndStuff/fragments/header/header::header}">
  <meta charset="UTF-8">
  <title>Parks App</title>
</head>
<body>
<nav th:replace="~{backEndStuff/fragments/layout/layout::nav}"></nav>
<div class="jumbotron jumbotron-fluid" id="title">
    <h1 class="display-2 text-center title-text">Welcome to ParkApp!</h1>
    <br />
    <h5 class="display-5 text-center">Make a ticket to help your parks ;)</h5>
</div>
<div class="container">
  <div class="row justify-content-center titleButtons">
      <a role="button" class="btn btn-primary btn-lg" href="/tickets/ticket-form" th:href="@{/tickets/new}">New
        Ticket</a>
      <a role="button" class="btn btn-primary btn-lg" href="/login/loginForm" th:href="@{/login}">Login</a>
  </div>
</div>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col just-content-center">-->
<!--      <a href="./login/loginForm.html" th:href="@{login}">-->
<!--        <button type="button" class="btn btn-primary">Login</button>-->
<!--      </a>-->
<!--      <a href="./tickets/ticket-form.html" th:href="@{ticket/new}">-->
<!--        <button type="button" class="btn btn-primary">Submit a Ticket</button>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

</body>
</html>